.main-cart {
   min-height: 30rem;
   border-radius: 0.5rem;
   margin: 0.85rem;
   padding: 1rem;
   background: var(--space-blue);
}

.main-cart,
.empty-cart {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.start-shopping-btn {
   margin: 1rem;
   padding: 0.5rem 2rem;
   background-color: var(--white);
   color: var(--dark-blue);
   transition: all 0.3s ease;
}

.start-shopping-btn:hover {
   background-color: var(--dark-blue);
   color: var(--white);
   transform: scale(1.1);
}

.main-cart-product {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 'image text' 'rating quantity' 'price remove';
   gap: 0.5rem;
   padding: 0.5rem;
   margin-bottom: 1rem;
}

.main-cart-product-img-wrap {
   grid-area: image;
   overflow: hidden;
   border-radius: 0.5rem;
   padding: 0.85rem;
   background-color: var(--white);
   height: 100%;
}

.main-cart-product-img-wrap > img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
   transition: all 0.3s ease;
}

.main-cart-product-text {
   grid-area: text;
}

.main-cart-product-text strong {
   display: block;
   margin-bottom: 0.5rem;
}

.main-cart-product-rating {
   grid-area: rating;
   display: flex;
   align-items: center;
}

.main-cart-product-quantity {
   grid-area: quantity;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 0.85rem 0rem;
}

.main-cart-product-quantity i {
   cursor: pointer;
}

.main-cart-product-quantity i:hover {
   color: var(--light-brown);
}

.main-cart-product-price {
   grid-area: price;
}

.main-cart-product-remove {
   grid-area: remove;
   text-align: right;
}

.remove-from-cart-btn {
   padding: 0.2rem 0.7rem;
   background-color: var(--pink);
   transition: all 0.3s ease;
}

.main-cart-pay {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.pay-btn {
   transition: all 0.3s ease;
   padding: 0.3rem;
   margin: 0.3rem;
   background: var(--pink);
}

.main-cart-end-of-purchase-icon {
   text-align: center;
   padding: 1rem;
   margin: 1rem;
}

.main-cart-end-of-purchase {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main-cart-end-of-purchase strong {
   display: block;
   padding: 1rem;
   text-align: center;
}

.remove-from-cart-wrap {
   width: 50%;
   position: fixed;
   bottom: 10;
   left: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.remove-from-cart {
   display: inline-block;
   border-radius: 0.5rem;
   background-color: var(--pink);
   margin: 0rem auto;
   padding: 0.5rem;
   text-align: center;
}

.hide {
   display: none;
}

@media only screen and (min-width: 768px) {
   .main-cart-product {
      grid-template-columns: 1.1fr 1.7fr 1fr 0.5fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
         'image text rating remove'
         'image text quantity remove'
         'image text price remove';
      height: 16rem;
      gap: 0rem 0.2rem;
   }

   .main-cart-product > * {
      text-align: center;
   }

   .main-cart-product-remove,
   .main-cart-product-rating,
   .main-cart-product-text {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .main-cart-product-text {
      padding: 0.5rem;
      flex-direction: column;
   }

   .pay-btn:hover,
   .remove-from-cart-btn:hover {
      color: var(--dark-blue);
      transform: scale(1.1);
   }
}
